* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--cor-900);
  font-family: "Poppins", sans-serif;
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
h1,
h2,
h3,
p,
ul,
blockquote,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
