header {
  margin-bottom: 40px;
  position: relative;
}
.idioma {
  position: absolute;
  display: flex;
  gap: 8px;
  right: 20px;
  top: -30px;
}
.decor {
  display: block;
}

.menu-lista {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.menu-lista li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--cor-900);
  transition: 0.5s;
}
.menu-lista li:hover:not(:last-child)::after {
  width: 100%;
}

.menu-lista a:hover {
  color: var(--rgba);
}

.menu-lista li:last-child {
  cursor: pointer;
}

@media (width < 800px) {
  .font-1-sm {
    font-size: 1.5rem;
  }
  .menu-lista {
    gap: 20px;
  }
}
