.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
}

.home-conteudo {
  text-align: center;
}

.home-conteudo h1 {
  margin-bottom: 20px;
}

.home-conteudo h1 span {
  display: block;
}

.home-conteudo p {
  margin-bottom: 20px;
}

.icons-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 24px;
}

.icon-list a {
  background-color: var(--cor-900);
}

.home-imagem {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width < 800px) {
  main {
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: center;
    gap: 80px;
    margin-bottom: 60px;
  }
  .home-imagem {
    display: none;
  }
}
